<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Data Dashboard</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Note Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://calendar.google.com/calendar/r/week">Google Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://instruction.learn.co/staff/home">Instructor App</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row ml-2 mt-2">
      <!-- Event Notes -->
      <div class="col-10">
        <!-- Type of meeting -->
        <div>
          <h2>Student 1:1</h2>
          <h3>{{event_name}}</h3>
          <h4 class="text-muted">
            <a href="{{zoom_link}}">
              {{zoom_link}}
            </a>
          </h4>
        </div>

        <div class="container">
          <div class="row mb-3">
            <div class="col-4">
              <div id="timer">
                {TIMER TICKING}
              </div>
            </div>
            <div class="col-8">
              <div>
                <b>Start:</b> {{event_time_start}}
              </div>
              <div>
                <b>End:</b> {{event_time_end}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <!-- Notes -->
              <div>
                <!-- {Current Notes} -->
                <form id="notes">
                  <b>Status:</b><br/>
                  <input style="width:100%;" type="text" id="status" name="status" placeholder="{{status}}"><br/>
                  Currently on:<br/>
                  Module
                    <select name="module">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                    </select>
                  <br/>
                  Section
                    <input maxlength=2 type="number"></input>
                  <br/><br/>

                  Additional Notes:<br/>
                  <div style="float: left;width:95%;margin-top:6px;">
                    <textarea style="height:200px;width:100%;" name="additional_notes" form="notes"></textarea>
                  </div>
                  <br/><br/>

                  <input type="submit" ></input>
                </form>
              </div>
            </div>
            <div class="col-6">
              <!-- Past Notes -->
              <div>
                  <h3>Past Notes</h3>
                  <hr/>
                  <div>
                      <h4>{DATE}</h4>
                      <p>
                          {RECENT NOTE}
                      </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Navigation-->
      <div class="col-1 border-left">
        <a href="https://www.github.com/MrGeislinger">
          <img class="img-fluid mt-2 ml-4" src="/static/assets/githublogo.png" alt="github logo">
        </a>
        <!-- <a href="https://github.com/MrGeislinger/flatiron-school-data-science-curriculum-resources">
          <img class="img-fluid mt-2 ml-4" src="assets/githublogo.png" alt="github logo">
        </a> -->
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
